[submodule "MASPreferences"]
	path = MASPreferences
	url = https://github.com/shpakovski/MASPreferences.git
[submodule "SHKit"]
	path = SHKit
	url = https://github.com/neolee/SHKit.git
[submodule "ShortcutRecorder"]
	path = ShortcutRecorder
	url = https://github.com/Kentzo/ShortcutRecorder.git
[submodule "YACYAML"]
	path = YACYAML
	url = https://github.com/th-in-gs/YACYAML.git
